[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
drf-nested-routers = "*"
gunicorn = "*"
djangoql = "*"
django-filter = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-environ = "*"
celery = "*"
redis = "*"
sentry-sdk = "*"
django-anymail = {extras = ["mailgun"], version = "*"}
django-admin-sortable = "*"
drf-spectacular = "*"

[dev-packages]
django-debug-toolbar = "*"
ipython = "*"
pre-commit = "*"
black = "*"
isort = "*"
flake8 = "*"
coverage = "*"
tblib = "*"
django-extensions = "*"

[requires]
python_version = "3.10"
